.App {
  text-align: center;
}


.App-header {
  background-image: url(./components/header_background.jpeg);
  display: flex;
  align-items: center;
  justify-content:center;
  background-size: 1fr;
  height: 250px;
  border: 2px solid;
  color: rgb(37, 194, 242);
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.directions {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin-bottom: 10px;
}


.category_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0px 550px;
}



.category_button {
  margin: 5px 5px;
}


.question {
  text-align: center;
  border: black solid;
  font-weight: bold;
}


.answers {
  margin: 5px;
}


.answers_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home {
  color: white;
  background-color: rgb(27, 102, 230);
  width:50px;
  float:right;
  top:-40px;
  width: 150px;
}


.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.score {
  display: flex;
  border: black solid;
  width: 100px;
  
}