.App {
  text-align: center;
}


.App-header {
  background-image: url(./components/header_background.jpeg);
  display: flex;
  align-items: center;
  justify-content:center;
  background-size: 1fr;
  height: 250px;
  border: 2px solid;
  color: rgb(37, 194, 242);
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

}

.directions {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin-bottom: 10px;
}

.category_list {
  text-align: center;
  border: 2px solid;
  margin: 0px 550px;
}

.home {
  width:50px;
  float:right;
  top:-40px;
}